
<mat-dialog-content>
    <form [formGroup]="addUserForm" (ngSubmit)="signUp()">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="name" formControlName="name">
        
        @if(addUserForm.get('name')?.touched && addUserForm.get('name')?.invalid)
        {
            <mat-error >
            Name is required and must be at least 3 characters.
            </mat-error>
        }
      
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
        
        @if(addUserForm.get('email')?.touched && addUserForm.get('email')?.invalid)
        {
            <mat-error >
            Email is required and must be valid.
            </mat-error>
        }
      
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" type="password">
        @if(addUserForm.get('password')?.touched && addUserForm.get('password')?.invalid)
        {
            <mat-error >
                Password is required and must be at least 4 characters long.
            </mat-error>
        }
      </mat-form-field>
  

        
        <mat-radio-group formControlName="role">

        @for(role of userRoles;track $index){
          <mat-radio-button [value]="role">
            {{role}}
          </mat-radio-button>
      
        }
      </mat-radio-group>

      
      
      <button mat-raised-button class="submit-button" type="submit" [disabled]="addUserForm.invalid">Sign Up</button>
    </form>
  </mat-dialog-content>
