<!-- 
  <button mat-raised-button color="primary" (click)="openSignInDialog()" class="custom-button">
    Sign In
  </button>
  <button mat-raised-button color="primary" (click)="openSignUpDialog()" class="custom-button">
    Sign Up
  </button> -->

  <div class="login-container">
    <h1 class="title">Welcome to our courses</h1>
    <div class="button-container">
      <button mat-raised-button color="primary" (click)="openSignInDialog()" class="custom-button">
        Sign In
      </button>
      <button mat-raised-button color="primary" (click)="openSignUpDialog()" class="custom-button">
        Sign Up
      </button>
    </div>
  </div>